/* general styling */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    background: #F5F5F5; 
    min-height: 100%;
}

a:hover {
    text-decoration: none;
}

.btn-custom { 
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
}

/* Header */
nav.navbar {
    box-shadow: 0 0 5px #888888;
    padding: 0 20px 0 10px;
    font-weight: 500;
}

nav.navbar li > a:hover {
    color: #fff !important;
    background: #00E58B !important;
}

/* logo styling (text & font-icon) */
.navbar-brand {
    color: #3F3F3F !important; 
    text-transform: uppercase;
}

footer .navbar-brand {
    color: #fff !important; 
}

.navbar-brand i, .navbar-brand span {
    color: #00E58B !important;
}

/* user dropdown */
#user-dropdown {
	padding-top: 10px;
	padding-bottom: 8px;
}

.nav-dropdown {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(230, 230, 230, .8);
}

.nav-dropdown-bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    text-align: center;
}

.nav-dropdown .row {
    padding-bottom: 20px;
}

/* header banner */
header .container-fluid {
    padding: 0;
}

div[data-ui-view="content"] {
    margin: 70px 0;
}

/* welcome card */
.welcome-card {
    margin: 50px auto;
    width: 400px;
    height: 450px;
    box-shadow: 0 0 5px #888888;
}

.welcome-card > .card-header {
    height: 30%;
    background: url('../images/welcome.jpg') center / cover;
    color: #fff;
    position: relative;
    padding: 10px;
}

.card-header > .title-text {
    position: absolute;
    bottom: 0;
}

.welcome-card > .card-body {
    height: 58%;
    padding: 10px;
    background: #fff;
}

.welcome-card > .card-body p {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 20px;
    color: #5C5C5C;
}

.welcome-card > .card-footer {
    border-top: 1px solid #E5E5E5;
    background: #fff;
    padding: 10px;
}

.welcome-card a.btn {
    border-color: #E5E5E5; 
}

/* register form */
#register-box {
    margin: auto;
    background: #fff;
    height: 700px;
    width: 600px;
    padding: 20px 40px;
    box-shadow: 0 0 5px #888888;
}

#register-box label {
    text-align: left;
    padding-bottom: 5px;
    color: #5C5C5C;
}

.form-controls {
    margin-top: 40px;
}

.form-button {
    padding-top: 10px;
    text-align: center;
}

.form-button button {
    width: 100%;
}

#register-box .user-pic {
    text-align: center;
    padding: 30px 0 0 6px;
}

.google-register {
    text-align: center;
    line-height: 2em;
}

.google-register button {
    color: #5C5C70;
    border-color: rgba(0,0,0,0.2);
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.google-register img {
    height: 20px;
    width: auto; 
    display: inline-block;
    position: relative;
}

.select-label {
    margin-top: 30px;
    text-align: center !important;
    color: #fff !important;
}

/* social icons */
div.social-icons i {
    display: inline-block;
    color: #888888;
}

div.social-icons i:hover {
    color: #000;
}

/* footer */
footer {
    height: 50px;
    background: #3F3F3F; 
    position: fixed;
    bottom:0;
    z-index: 1;
    width: 100%; 
}

footer .navbar-brand {
    width: 100%;
    text-align: center; 
}

@media only screen and (max-width: 768px) {
    #register-box {
        height: 1000px;

    }
}